[Service]
Type=simple
User=<username>
WorkingDirectory=<project dir>
Environment=PHOTO_BACKUP_DESTINATION_FOLDER=<photos folder>

ExecStart=<bundle dir>bundle exec puma <project dir>/config.ru -C <project dir>/puma.rb
Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target